#search-bar {
    margin: 20px;
    text-align: center;
    background-color: #a2a2d8; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
    width: 800px;
}

#search-bar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

#products-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
}

.product-card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.product-card td{
    padding: 20px;
    text-align: center;
}

.product-card h3{
    margin: 10px 0;
    font-size: 20px;
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
}

.product-card p{
    font-size: 18px;
    font-weight: bold;
}

button{
    padding: 5px;
    border-radius: 10px;
}
